<div class="cont-<%= message.user.id %>">
  <div class="message-box msg-<%= message.user.id %> ">
    <%= message.content %></br><span class="time_date"><%= message.created_at.strftime("%I:%M %p") %> | <%= message.created_at.strftime("%d, %b") %>
  </div>
</div>


<script>
  $(document).ready(function() {
    const newNameInput = document.getElementById("chat-text");
    const name = newNameInput.value;
    newNameInput.value = "";
    const messageContainer = document.getElementById('message-container');
		messageContainer.scrollTop = messageContainer.scrollHeight;
  });
  
</script>