<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>Property</h2>
            </div>
        			<%= render partial: "property_search"%>
          </div>
        </div>
      </div>
      <nav>
        <!-- <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Property</li>
          </ol>
        </div> -->
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4 posts-list">
        	<% @properties.each do |property|%>
	          <div class="col-xl-4 col-md-6">
	            <article>

	              <div class="post-img">
	              	<% if property.images.present? %>
	              		<%= image_tag property.images.last,  class:"img-fluid"%>
	                <% else %>
	                <img src="https://img.freepik.com/free-photo/blue-house-with-blue-roof-sky-background_1340-25953.jpg" alt="" class="img-fluid">
	                <% end  %>
	              </div>

	              <p class="post-category"><%= property.location %></p>

	              <h2 class="title">
	                <a href="property/<%= property.id %>"><%= property.name.capitalize %></a>
	              </h2>

	              <div class="d-flex align-items-center">
	              	<% if property.user.profile.profile_image.present? %>
	              		<%= image_tag property.user.profile.profile_image, class:"img-fluid post-author-img flex-shrink-0" %>
	              	<% else %>
	                <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80" alt="" class="img-fluid post-author-img flex-shrink-0">
	                <% end %>
	                <div class="post-meta">
	                  <p class="post-author-list"><%= property_user(property.user_id) %></p>
	                  <p class="post-date">
	                    <time datetime="2022-01-01"><%= convert_time(property.created_at) %></time>
	                  </p>
	                </div>
	              </div>

	            </article>
	          </div><!-- End post list item -->
	        <% end %>
        </div><!-- End blog posts list -->

        <div class="blog-pagination">
          <ul class="justify-content-center">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div><!-- End blog pagination -->

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->
