<div class="messaging">
  <div class="inbox_msg">
   <div class="inbox_people">
     <div class="headind_srch">
      <div class="recent_heading">
        <h4><%= image_tag current_user.profile.profile_image, height: "32px" %>&nbsp;<%#= current_user.profile.name.capitalize %></h4>
      </div>
      <div class="srch_bar">
        <div class="stylish-input-group">
         <input type="text" class="search-bar" id="myInput" onkeyup="searchUsers()"  placeholder="Search" >
         </div>
      </div>
     </div>
    <div class="inbox_chat scroll" >
    <% @users.each do |user| %>
      <%= link_to user_chat_path(sender_id: user.id) do %>
        <div class="chat_list active_chat">
          <div class="chat_people" id="name_search">
           <div class="chat_img"><%= image_tag user.profile.profile_image %> </div>
           <div class="chat_ib" id="user-name">
             <h5 ><%= user.profile.name %> <span class="chat_date">Dec 25</span></h5>
             <p>Test, which is a new approach to have all solutions 
              astrology under one roof.</p>
           </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
    <% if @single_room %>
    <div class="mesgs">
      <div class="chat_header" style="margin-top: -20px; height: 51px;">
      <%= image_tag profile_details(params[:sender_id]).profile.profile_image, height: '50px', width: '50px' %>
        &nbsp;&nbsp;<%= profile_details(params[:sender_id]).profile.name.capitalize %>
        <span style="position: relative; left: 75%; cursor: pointer;">
          <!-- <i class="bi bi-camera-reels-fill" style="height:100px;"></i> -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <button  class="btn" data-toggle="modal" data-target="#exampleModalCenter">
          <i class="bi bi-gear-fill" style="font-size: 1em;"></i>
        </button></span>
        <hr style="margin: 0rem 0; color:#2c856c; font-weight: bold;">
      </div>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                profile<hr>
                Delete conversations
                <hr>
                Block
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
              </div>
            </div>
          </div>
        </div>
     <div class="msg_history" id="message-container">
        <%= turbo_stream_from @single_room %>
        <% @single_room.messages.group_by {|u| u.created_at.strftime("%a, %d %b %Y")}.each do |messages| %>
          <p class="messagrdate" style="text-align: center;"><%= messages.first %></p>
          <% messages.last.each do |message| %>
            <div class="cont-<%= message.user.id %>">
              <div class="message-box msg-<%= message.user.id %> ">
                <%= message.content %></br><span class="time_date">
                <%= message.created_at.strftime("%I:%M %p") %> | <%= message.created_at.strftime("%d, %b") %>
                </span>
              </div>
            </div>
          <% end %>
        <% end %>
        <div id="messages"></div>
     </div>
     <%= render partial: 'messages/new_message_form' %>
      <% else %>
      <div class="mesgs">
        <div class="non_message">
          <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" height="117px"><spam class="profile_message">
          Welcome!
          <%= current_user.profile.name.capitalize %></spam>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<style>
   /*---------chat window---------------*/
   <%= ".msg-#{current_user&.id}" %> {
  background-color: #d2dbd4 !important;
  padding: 10px;
  margin-bottom: 10px !important;
  margin-left: 50px;
  text-align: end;
  width: 319px;
  }
  <%= ".cont-#{current_user&.id}" %> {
  display: flex;
  justify-content: flex-end
  }
.container{
    max-width:900px;
}
.profile_message{
  margin-left: 30px;
  font-size: 32px;
}
.inbox_people {
   background: #fff;
   float: left;
   overflow: hidden;
   width: 30%;
   border-right: 1px solid #ddd;
}

.inbox_msg {
   border: 4px solid #2c856c;
   clear: both;
   overflow: hidden;
   border-radius: 50px;
   margin-top: 6px;
   margin-bottom: 6px;
}

.top_spac {
   margin: 20px 0 0;
}

.recent_heading {
   float: left;
   width: 40%;
}

.srch_bar {
   display: inline-block;
   text-align: right;
   width: 60%;
   padding:
}

.headind_srch {
   padding: 10px 29px 10px 20px;
   overflow: hidden;
   border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
   color: #0465ac;
    font-size: 16px;
    margin: auto;
    line-height: 29px;
}

.srch_bar input {
   outline: none;
   border: 1px solid #cdcdcd;
   border-width: 0 0 1px 0;
   width: 80%;
   padding: 2px 0 4px 6px;
   background: none;
}

.srch_bar .input-group-addon button {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   border: medium none;
   padding: 0;
   color: #707070;
   font-size: 18px;
}

.srch_bar .input-group-addon {
   margin: 0 0 0 -27px;
}

.chat_ib h5 {
   font-size: 15px;
   color: #464646;
   margin: 0 0 8px 0;
}

.chat_ib h5 span {
   font-size: 13px;
   float: right;
}

.chat_ib p {
    font-size: 12px;
    color: #989898;
    margin: auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat_img {
   float: left;
   width: 11%;
}

.chat_img img {
   width: 100%
}

.chat_ib {
   float: left;
   padding: 0 0 0 15px;
   width: 88%;
}

.chat_people {
   overflow: hidden;
   clear: both;
}

.chat_list {
   border-bottom: 1px solid #ddd;
   margin: 0;
   padding: 18px 16px 10px;
}

.inbox_chat {
   height: 450px;
   overflow-y: scroll;
}

.active_chat {
   background: #e8f6ff;
}

.incoming_msg_img {
   display: inline-block;
   width: 6%;
}

.incoming_msg_img img {
   width: 100%;
}

.received_msg {
   display: inline-block;
   padding: 0 0 0 10px;
   vertical-align: top;
   width: 92%;
}

.received_withd_msg p {
   background: #ebebeb none repeat scroll 0 0;
   border-radius: 0 15px 15px 15px;
   color: #646464;
   font-size: 14px;
   margin: 0;
   padding: 5px 10px 5px 12px;
   width: 100%;
}

.time_date {
   color: #747474;
   display: block;
   font-size: 12px;
   margin: 8px 0 0;
   
}

.received_withd_msg {
   width: 57%;
}

.mesgs{
   float: left;
   padding: 30px 15px 0 25px;
   width:70%;
}

.sent_msg p {
   background:#0465ac;
   border-radius: 12px 15px 15px 0;
   font-size: 14px;
   margin: 0;
   color: #fff;
   padding: 5px 10px 5px 12px;
   width: 100%;
}

.outgoing_msg {
   overflow: hidden;
   margin: 26px 0 26px;
}

.sent_msg {
   float: right;
   width: 46%;
}

.input_msg_write input {
   background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
   border: medium none;
   color: #4c4c4c;
   font-size: 15px;
   min-height: 48px;
   width: 100%;
   outline:none;
}

.type_msg {
   border-top: 1px solid #c4c4c4;
   position: relative;
}

.msg_send_btn {
   background: #05728f none repeat scroll 0 0;
   border:none;
   border-radius: 50%;
   color: #fff;
   cursor: pointer;
   font-size: 15px;
   height: 33px;
   position: absolute;
   right: 0;
   top: 11px;
   width: 33px;
}


.msg_history {
   height: 400px;
   overflow-y: auto;
}
</style>
<script>
  const messageContainer = document.getElementById('message-container');
  messageContainer.scrollTop = messageContainer.scrollHeight;

  function searchUsers() {
  const input = document.getElementById("myInput");
  const filter = input.value.toLowerCase();
  const names = document.querySelectorAll("#user-name");

  names.forEach(name => {
    const userText = name.textContent || name.innerText;
    if (userText.toLowerCase().indexOf(filter) > -1) {
      name.parentElement.parentElement.style.display = "";
    } else {
      name.parentElement.parentElement.style.display = "none";
    }
  });
}
</script>