<div class="row">
  <div class="col-md-12">
    <div class="card card-plain">
      <div class="card-header card-header-primary">
        <h4 class="card-title mt-0">New User</h4>
      </div>
      <div class="card-body">
        <%= form_for([:admin, @user]) do |form| %>
          <%= form.hidden_field :role, value: "agent" %>
          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating">Enter Email</label>
           <%= form.text_field :email, type: "email", class: "form-control",id: "exampleInput1" %>
          </div>
          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating">role</label>
           <%= form.select :role, [["customer", "customer"], ["agent", "agent"], ["admin", "admin"]],{:prompt => '--  Select Location --'}, class: "form-control",id: "exampleInput1" %>
          </div><br>       
          
          <div class="form-group">
           <label for="exampleInput1" class="bmd-label-floating">Enter the type Password</label>
           <%= form.text_field :password ,class: "form-control", id: "exampleInput1"%>
         </div><br>
         <%= form.submit class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<style >
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary:focus {
      background-color: #2e8c6e;
      border-color: #2e8c6e;
  }
</style>