<!DOCTYPE html>
<html>
  <head>
    <title>PropConnect</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/aos/aos.css" rel="stylesheet">
    <link href="/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.rtl.min.css.map">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- Template Main js File -->
    <link href="/main.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body><!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->

  <header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a href="/" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>MyProperty<span>.</span></h1>
      </a>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li class="dropdown"><a href="#"><span>Profile</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="/profile">Profile</a></li>
              <% if current_user.present? && current_user.role == "agent" %>
                <li class="dropdown"><a href="#"><span>Agents Setting</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="/properties/new">Create Properties</a></li>
                    <li><a href="/properties">View all properties</a></li>
                    <li><a href="/sale_properties">Sale Properties</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
              <% else %>
                <li class="dropdown"><a href="#"><span>Agents</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                </li>
              <% end %>
              <li><a href="/profile_about">History</a></li>
              <li><a href="/security">Security</a></li>
              <li><a href="/users/sign_out">Logout</a></li>
            </ul>
          </li>
          <li><a href="/#about">About</a></li>
          <li><a href="/#services">Services</a></li>
          <li><a href="/#portfolio">Property</a></li>
          <li><a href="/rooms">Chats</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="/#contact">Contact</a></li>
          <% if current_user.present? %>
            <li>
              <div class="icon-badge" id="bell"><i class="bi bi-bell-fill" style="color: white;"></i><span class="badge"><%if current_user&.notifications&.unread.present? %><%= notification %><% end %></span></div>
              <div class="notifications" id="box">
                  <h2>Your Feeds<span style=" left: 190px;position: relative; top: -14px"><a href="/marked_as_read" style="color: blue; text-decoration: none; color: red;">Marked as read</a></span></h2>
                  <% current_user&.notifications&.reverse_each do |notif| %>
                    <div class="notifications-item <%= 'unread' unless notif.status == "read" %>"> <%= image_tag(image_notification(notif), alt: 'notif') %> <%#= image_tag %>
                      <!-- <img src="/app/assets/images/welcome.png" alt="img"> -->
                        <div class="text">
                            <h4></h4>
                    <a href="/notif_read/<%= notif.id %>">
                            <h6><%= notif.message %></h6>
                    </a>
                        </div>
                    </div>
                  <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </nav>
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
  </header><!-- End Header -->
  
  
    <%= yield %>
     <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Impact</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>Phone:</strong> +1 5589 55488 55<br>
            <strong>Email:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Sourabh world</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="/">Sourabhkumar</a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/aos/aos.js"></script>
  <script src="/glightbox/js/glightbox.min.js"></script>
  <script src="/purecounter/purecounter_vanilla.js"></script>
  <script src="/swiper/swiper-bundle.min.js"></script>
  <script src="/isotope-layout/isotope.pkgd.min.js"></script>
  <!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->

  <!-- Template Main JS File -->
  <script src="/main.js"></script>
  </body>
</html>


<style type="text/css">
  .icon-badge {
    position: relative;
    display: inline-block;
  }
  .badge {
    position: absolute;
    top: 11px;
    right: -8px;
    color: red !important;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 12px;
  }
  .notifications {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 999; /* Ensure it appears above other content */
    }
    .icon-badge{cursor: pointer;margin-right: 50px;line-height: 60px}
    .icon-badge{cursor: pointer;}
    .icon:hover{opacity: .7}.logo{flex: 1;margin-left: 50px;color: #eee;font-size: 20px;font-family: monospace}
    .notifications{width: 350px;height: 0px;opacity: 0; right: 0px;position: absolute;top: 63px;right: -30px;border-radius: 5px 0px 5px 5px;background-color: #fff;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}
    .notifications h2{font-size: 14px;padding: 10px;border-bottom: 1px solid #eee;color: #999}
    .notifications h2 span{color: #f00}
    .notifications-item{display: flex;border-bottom: 1px solid #eee;padding: 6px 9px;margin-bottom: 0px;cursor: pointer}
    .notifications-item:hover{background-color: #eee}
    .notifications-item img{display: block;width: 50px;height: 50px;margin-right: 9px;border-radius: 50%;margin-top: 2px}
    .notifications-item .text h4{color: #777;font-size: 16px;margin-top: 3px}
    .notifications-item .text p{color: #aaa;font-size: 12px}
    .notifications-item.unread {
      background-color: #cbf5f1;
      font-weight: bold;
    }
    .notifications-item.read {
      color: black !important;
      font-weight: bold;
    }
    h6{color: #06453c;font-weight: 20px;}
    @media (max-width: 768px) {
      .notifications {
            display: none;
        }
        .show-notifications-button {
            display: block; /* Display a button to show notifications */
        }
    }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    var down = false;
    $('#bell').click(function(e){
      var color = $(this).text();
      if(down){
        $('#box').css('height','0px');
        $('#box').css('opacity','0');
        down = false;
      }else{
        $('#box').css('height','auto');
        $('#box').css('opacity','1');
        down = true;
        }
      });
  });
</script>